:root {
  --primary-bg-color: #92A6BA;
  --secondary-bg-color: #CBD5E1;
  --additional-bg-color: #F4F4F4;
  --primary-font-color: #000000;
  --secondary-font-color: #353C4E;
  --tertiary-font-color: #475569;
  --additional-font-color: #92A6BA;
}