.markdown-text-row .markdown > * {
  all: revert;
}

.markdown-text-row .markdown > p:first-of-type {
  margin-top: 0;
}

.markdown-text-row .markdown > p:last-of-type {
  margin-bottom: 0;
}

.markdown-text-row .markdown > h1,
.markdown-text-row .markdown > h2,
.markdown-text-row .markdown > h3,
.markdown-text-row .markdown > h4,
.markdown-text-row .markdown > h5,
.markdown-text-row .markdown > h6 {
  font-family: "Inter Semi Bold", sans-serif;
  font-weight: normal;
}

.markdown-text-row .markdown table {
  border-spacing: 0;
}

.markdown-text-row .markdown td {
  font-family: Inter, sans-serif;
  padding: 10px;
  border: 1px solid rgb(218, 224, 236);
  color: rgb(125, 125, 131);
}

.markdown-text-row .markdown td:not(:first-child) {
  border-left: none;
}

.markdown-text-row .markdown td:not(:last-child) {
  border-right: none;
}

.markdown-text-row .markdown tr:not(:last-child) td {
  border-bottom: none;
}

.markdown-text-row .markdown th {
  font-family: Inter, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(103, 103, 123);
  padding: 10px 10px 5px 10px;
  text-align: left;
}

.markdown-text-row .markdown tr:nth-child(2n) td {
  background-color: rgb(249, 250, 252);
}

.markdown-text-row .markdown tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

.markdown-text-row .markdown tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.markdown-text-row .markdown tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

.markdown-text-row .markdown tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/* JsonSchemaNextViewer description / deprecation-reason rows */
.markdown-text-row .markdown.markdown-text-row__json-schema-description {
  font-size: 12px;
  font-weight: 400;
  color: rgb(51 65 85);
}

.markdown-text-row__json-schema-expander {
  font-size: 12px;
  font-weight: 400;
}
