.message-channel-server-node {
  background-color: #EDF2F7;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #E0E5EB;
}

.message-channel-server-node .server-element {
  font-family: 'Inter Variable';
  font-size: 12px;
  color: black;
}

.message-channel-server-node .server-element.server-header {
  font-weight: 600;
}

.message-channel-server-node .server-element.server-subheader {
  font-weight: 500;
}

.message-channel-server-node .server-element.server-description {
  font-weight: 400;
}