.message-channel-server-node {
  background-color: #EDF2F7;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #E0E5EB;
}

.message-channel-server-node .server-header {
  font-size: 12px;
  font-weight: 600;
  color: black;
}

.message-channel-server-node .server-subheader {
  font-size: 12px;
  font-weight: 500;
  color: black;
}

.message-channel-server-node .server-description {
  font-size: 12px;
  font-weight: 400;
  color: black;
}