button.button-selector-option {
  /* bg-slate-100 */
  background-color: white;
  border: 1px solid #8F9EB4;
  color: #8F9EB4;
  border-radius: 4px;
  padding: 0px 8px 2px;
  font-size: 13px;
  cursor: pointer;
}

button.button-selector-option:hover {
  /* bg-slate-200 */
  background-color: rgb(226, 232, 240);
}

button.button-selector-option:focus {
  outline: none;
}

button.button-selector-option.selected {
  /* bg-slate-300 */
  background-color: #8F9EB4;
  color: white;
}