button.button-selector-option {
  /* bg-slate-100 */
  background-color: white;
  border: 1px solid #8F9EB4;
  color: #8F9EB4;
  border-radius: 4px;
  padding: 0px 8px 2px;
}

.button-selector-option_primary {
  font-size: 20px;
}

.button-selector-option_secondary {
  font-size: 15px;
}

.button-selector-option_disabled {
  cursor: default !important;
}

button.button-selector-option:hover {
  /* bg-slate-200 */
  background-color: rgb(226, 232, 240);
  cursor: pointer;
}

button.button-selector-option:focus {
  outline: none;
}

button.button-selector-option.selected {
  /* bg-slate-300 */
  background-color: #8F9EB4;
  color: white;
}

.address-row {
  font-size: 18px;
  font-weight: 600;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 15px;
  font-weight: 600;
}

h4 {
  font-size: 13px;
  font-weight: 600;
}

span {
  font-size: 13px;
  font-weight: 400;
  padding: 4px 0;
}

.description-row_primary {
  font-size: 18px;
  font-weight: 400;
}

.description-row_secondary {
  font-size: 15px;
  font-weight: 400;
}