button.button-selector-option {
  /* bg-slate-100 */
  background-color: rgb(241, 245, 249);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

button.button-selector-option:hover {
  /* bg-slate-200 */
  background-color: rgb(226, 232, 240);
}

button.button-selector-option:focus {
  outline: none;
}

button.button-selector-option.selected {
  /* bg-slate-300 */
  background-color: rgb(203, 213, 225);
}