.ddl-api-property .title-row-content {
  font-size: 12px;
  font-weight: 400;
}

.ddl-api-property .title-row-content .text-value {
  font-size: 12px;
}

.ddl-api-property .subheader {
  font-size: 12px;
}
